WalletFrame {
border-image: url(':/images/mymain') 0 0 0 0 stretch stretch;
border-top:0px solid #fff;
margin:0;
padding:0;
}
QMainWindow::seperator{
background: yellow;
width: 10px;
height: 10px;
}
QMainWindow::seperator:hover{
background: red;
}

QStatusBar {
background-color:#7c7c7c;
color: #7c7c7c;
}

.QFrame {
background-color:transparent;
border:0px solid #7c7c7c;
}

QMenuBar {
background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ff53ba, stop:1 #ff007f);
}

QMenuBar::item {
spacing: 3px;
color: #7c7c7c;
padding:1px 4px;
background: transparent;
border-radius: 4px;
}

QMenuBar::item:selected {
background:#ff53b9;
}
QMenuBar::item:pressed{
background: #ff7ac9;
}
QMenu {
background-color:qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #ff007f, stop:1 #ff8ed1);
margin: 2px;
}

QMenu::item {
padding: 2px 25px 2px 20px;
border: 1px solid transparent;
color:#7c7c7c;
}

QMenu::item:selected {
background-color:#ff53b9;
color:#7c7c7c;
}

QToolBar {
background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ff53ba, stop:1 #ff007f);
border:0px solid #e6c200;
padding:0;
margin:0;
}

QToolBar > QToolButton {
background: transparent;
border:0px solid #333;
min-height:2.5em;
padding: 0em 1em;
font-weight:bold;
color:#7c7c7c;
}

QToolBar > QToolButton:checked {
background: #ff7ac9;
font-weight:bold;
}

QMessageBox {
background-color:#7c7c7c;
}
/****************************************************************************************/

QHeaderView { /* Table Header */
background-color:#e6c200;
outline:0;
}

QHeaderView::section { /* Table Header Sections */
qproperty-alignment:center;
background-color:#e6c200;
color:#fff;
min-height:25px;
font-weight:bold;
font-size:12px;
border:1px solid #7c7c7c;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
}

QHeaderView::section:last {
border-right:0;
}

/*******************************************************/

QLabel { /* Base Text Size & Color */
font-size:12px;
color:#e6c200;
}

.QCheckBox { /* Checkbox Labels */
color:#e6c200;
background-color:transparent;
}

.QCheckBox:hover {
background-color:transparent;
}

.QValidatedLineEdit, .QLineEdit { /* Text Entry Fields */
border: 1px solid #e6c200;
font-size:11px;
min-height:25px;
outline:0;
padding:3px;
background-color:#7c7c7c;
}

.QLineEdit:!focus {
font-size:12px;
}

.QValidatedLineEdit:disabled, .QLineEdit:disabled {
background-color:#7c7c7c;
}

/*******************************************************/

QPushButton { /* Global Button Style */
background-color:transparent;/* qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #e6c200, stop: .1 #e6c200, stop: .95 #e6c200, stop: 1 #e6c200); */
border:1px solid #7c7c7c;
border-radius:3px;
color:#666666;
font-size:12px;
font-weight:bold;
padding-left:25px;
padding-right:25px;
padding-top:5px;
padding-bottom:5px;
}

QPushButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #dadbde, stop: 1 #7c7c7c);
/* qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #42cd42, stop: .1 #42cd42, stop: .95 #42cd42, stop: 1 #42cd42); */
}

QPushButton:focus {
border:none;
outline:none;
}

QPushButton:pressed {
border:1px solid #333;
}

QComboBox { /* Dropdown Menus */
border:1px solid #e6c200;
padding: 3px 5px 3px 5px;
background:#7c7c7c;
min-height:25px;
color:#7c7c7c;
}

QComboBox:checked {
background:#7c7c7c;
}

QComboBox:editable {
background: #e6c200;
color:#616161;
border:0px solid transparent;
}

QComboBox::drop-down {
width:25px;
border:0px;
}


QComboBox QListView {
background:#7c7c7c;
border:1px solid #333;
padding-right:1px;
padding-left:1px;
}

QComboBox QAbstractItemView::item { margin:4px; }

QComboBox::item {
color:#818181;
}

QComboBox::item:alternate {
background:#7c7c7c;
}

QComboBox::item:selected {
border:0px solid transparent;
background:#7c7c7c;
}

QComboBox::indicator {
background-color:transparent;
selection-background-color:transparent;
color:transparent;
selection-color:transparent;
}

QAbstractSpinBox {
border:1px solid #e6c200000;
padding: 3px 5px 3px 5px;
background:#7c7c7c;
min-height:25px;
color:#818181;
}

QAbstractSpinBox::up-button {
subcontrol-origin: border;
subcontrol-position: top right;
width:21px;
background:#7c7c7c;
border-left:0px;
border-right:1px solid #e6c200;
border-top:1px solid #e6c200;
border-bottom:0px;
padding-right:1px;
padding-left:5px;
padding-top:2px;
}


QAbstractSpinBox::down-button {
subcontrol-origin: border;
subcontrol-position: bottom right;
width:21px;
background:#7c7c7c;
border-top:0px;
border-left:0px;
border-right:1px solid #e6c200;
border-bottom:1px solid #e6c200;
padding-right:1px;
padding-left:5px;
padding-bottom:2px;
}


QProgressBar { 
background-color: #7c7c7c; 
border: 1px solid grey; 
border-radius: 7px; 
padding: 1px; 
text-align: center; } 
QProgressBar::chunk { 
background: QLinearGradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #0c71c3, stop: 1 #7c7c7c); 
border-radius: 7px; 
margin: 0px; }

QWidget .QFrame#frame_2 { /* Transactions Widget */
min-width:410px;
margin-right:auto;
margin-left:auto;
background-image: url(':/images/horiz');
background-repeat:none;
background-position: center top;
}

QWidget .QFrame#frame_2 .QLabel#label_4 { /* Recent Transactions Label */
min-width:200px;
color:#e6c200;
margin-left:67px;
margin-top:173px;
margin-right:5px;
padding-right:5px;
font-weight:bold;
font-size:15px;
min-height:24px;
}

QWidget .QFrame#frame_2 .QLabel#labelTransactionsStatus { /* Recent Transactions Sync Status */
qproperty-alignment: 'AlignBottom | AlignLeft';
margin-top:123px;
margin-left:16px;
min-height:16px;
}

QWidget .QFrame#frame_2 QListView { /* Transaction List */
font-weight:normal;
font-size:12px;
max-width:369px;
margin-left:0px; /* CSS Voodoo - set to -66px to hide default transaction icons */
}